<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<div th:include="default :: header"></div>
<link rel="stylesheet" type="text/css" href="../css/dashboard.css"/>
<script type="text/javascript" src="../js/dashboard.js"></script>
<script type="text/javascript" src="../js/geolocalization.js"></script>
<script type="text/javascript" src="../js/downloadQR.js"></script>
</head>
<body>
<navbar th:replace="default :: bar"></navbar>


<div class="card" id="card">
	<h2 class="card-header aqua-gradient text-white"><i class="fas fa-users-cog"></i> Administrador</h2>
	<div style="margin:20px;">
	<small style="font-weight:bold">Por defecto todos los códigos Qr sin excepción vienen desactivados, recomendamos activarlos sólo si esa persona no aparece, para permitir el acceso a los datos a quien la encontrase.</small>		
	
		<!--/*/ <th:block th:each="listIterate ,iStat : ${list}"> /*/-->
		<ul id="tableQR" class="d-flex" style="justify-content: space-around">
			<li th:text="${list[iStat.index].shortId}" class="bold"></li>
			
			<li><img
				th:src="'data:image/png;base64,'+${list[iStat.index].strBase64}" th:onclick="downloadQR([[${list[iStat.index].shortId}]],[[${list[iStat.index].strBase64}]])"
				style="width: 80px; height: 80px;">
			</li>
			
			<li>
				<form action="#" th:action="@{/tutor}" method="POST" th:object="${qr}">
					<input type="hidden" th:value="${list[iStat.index].shortId}" id="shortId" name="shortId">
					<button type="submit" class="btn btn-md btn-success"><i class="fas fa-user-cog"></i> Editar tutor</button>
				</form>
				<small th:if="${list[iStat.index].tutor == null}">No hay un tutor cargado</small>
			</li>
			
			<li>
				<form action="#" th:action="@{/lost}" method="POST" th:object="${qr}">
					<input type="hidden" th:value="${list[iStat.index].shortId}" id="shortId" name="shortId">
					<button type="submit" class="btn btn-md btn-danger"><i class="fas fa-user-tag"></i> Editar beneficiario</button>
				</form>
				<small th:if="${list[iStat.index].lost == null}">No hay un Beneficiario cargado</small>
			</li>
			
			<li><a th:href="@{'/id/'+ ${list[iStat.index].shortId}}" style="color:black" class="bold"><i class="fa fa-search" style="color: LimeGreen"></i>Ver
					datos públicos</a></li>
					
			<li>
				<a th:href="@{'/coordinates/'+${list[iStat.index].shortId}}" style="color:black" class="bold"><i class="fa fa-map" style="color:brown"></i> Ver historial de coordenadas</a><br>
			</li>
					
			<li>						
			<!-- Default switch -->
				<div class="custom-control custom-switch">
				  <input type="checkbox" class="custom-control-input" th:checked="${list[iStat.index].status}" th:id="'status'+${list[iStat.index].shortId}" th:onchange="activateQR(id, [[${list[iStat.index].shortId}]])">
				  <label class="custom-control-label" th:for="'status'+${list[iStat.index].shortId}"><i class="fas fa-user-secret"></i> <small><a><span style="color:LimeGreen; font-weight:bold">Activar</span>/<span style="font-weight:bold" class="text-danger">Desactivar</span></a></small></label>
				</div>
			</li>
		</ul>
		<br>
		<!--/*/ </th:block> /*/-->
	</div>
</div>
<br><br><br><br><br>
	<footer th:replace="default :: footer"></footer>
</body>
</html>