<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<div th:include="default :: header"></div>
<link rel="stylesheet" type="text/css" href="../css/index.css"/>
</head>
<body>
<navbar th:replace="default :: bar"></navbar>
<div style="width: 100%">
<div style="text-shadow: 1px 1px black; color:white; margin:30px;"><h4 style="font-weight:bold">Que un descuido no tu arruine la vida, llevá la información siempre con ella</h4>
<button type="button" class="btn btn-lg btn-outline-white waves-effect">Empezar</button></div>

<div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: center; align-content: center;"></div>

</div>
<footer th:replace="default :: footer"></footer>
</body>
</html>